.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  /* background: url("../images/custom-design-background.jpg"); */
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

span {
  color: red;
  margin-left: -22em;
}
.adj {
  color: red;
  text-align: center;
  margin-left: -200px;
  /* margin-top: -25px ; */
  margin-bottom: 10px;
  /* margin-top: -14px; */
}

.tp1 {
  margin-top: 40px;
}
.btn {
  margin-top: 2px;
  margin-left: 3%;
  font-style: inherit;
}
.font2 {
  font-weight: bold;
  color: lightslategrey;
  /* width: 15%; */
  margin-left: 60px;
  margin-top: 1%;
  font-weight: 500;
}

.ll {
  margin-top: 15px;
  border-radius: 5px 5px 5px 5px;
  /* padding-right: 0%; */
  width: 45%;
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
  z-index: 100;
  border-radius: 5px 5px 5px 5px;
  margin-left: 70px;
  height: 38px;

  /* background-color: aqua; */
}
.border {
  /* border-radius: 6px 6px 6px 6px; */
  /* background-color: skyblue; */
  border: none !important;
}
.font {
  color: rgba(22, 21, 21, 0.8);

  font-weight: bolder;
  float: left;
  margin-left: 73px;
  margin-top: 48px;
  margin-bottom: -10px;
}

.fonto {
  color: rgba(22, 21, 21, 0.8);
  font-weight: bolder;
  margin-right: 250px;
  margin-top: 48px;
  margin-bottom: -10px;
}

.bckgrnd {
  background: url("../images/AAA4.jpg");

  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* position: static; */
  background-attachment: fixed;
  position: fixed;
}
.bckgrnd1 {
  background: url("../images/AAA4.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;

  background-position: center;

  background-attachment: fixed !important;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.left {
  margin-right: 40px;
  /* margin-top: 7px; */
}

.right {
  margin-left: 90%;
  /* margin-top: -0.2px; */
}

.lg {
  width: 100%;
}
/* p {
 
  border: 1px solid lightskyblue;
  background-color: white;
  padding-bottom: 0%;
  
  text-align: justify;
  text-decoration-line: none;
  overflow: hidden;
  font-weight:500;
}  */

.kk {
  margin-top: 1%;
  justify-content: center;
  /* min-width: 9%;
  max-width: 91%;  */
  /* margin-right: 80%; */
  margin-left: "10%";
  margin-right: "10%";
  width: 80%;
  max-width: 80%;
  /* justify-content: center; */
  /* align-items: center !important; */
  /* align-self: center !important; */
  /* flex: 1; */
}

.bold {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: -2px;
  color: lightslategray;
  /* margin-right:90%; */
  min-width: 80%;

  /* margin-top: -10%; */
}
.bold:hover {
  color: lightcyan;
  background-size: 100% 200%;
  cursor: pointer;
}

.sp {
  background-color: skyblue !important;
  height: 40px;
  z-index: 10;
  margin-top: 15px;
  margin-left: 10px;
}
.xbutton {
  /* float:left;  */
  margin-left: 10px !important;
  margin-top: -50px !important;
  margin-bottom: 20px;
  border: tomato;
  background-color: rgba(247, 247, 247, 0);
  flex-direction: row !important;
  justify-content: space-between !important;
  outline: none;
}
.shareButton:focus {
  outline: none;
}

.xbutton:focus {
  outline: none;
}
.ybutton {
  margin-top: 1px;
  margin-right: 20px;
  border: none;
  float: right;
  background-color: rgba(247, 247, 247, 0);
}

.ybutton:focus {
  outline: none;
}

.profileButton {
  background-color: rgba(255, 255, 255, 0);
  padding-top: 5px;
}

.showMore {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.showMore:focus {
  outline: none !important;
}

.profileButton:focus {
  outline: none !important;
}

.followButton:focus {
  outline: none !important;
}

.ok {
  float: right;
  margin-top: -1.2%;
  margin-right: 3.8%;
}

.h {
  margin-left: -22%;
  margin-bottom: 0%;
  color: rgb(198, 240, 206);
  margin-bottom: 26px;
  text-shadow: 6px 10px 10px #082b34;
  /* font-family:'Rouge Script', cursive;
    font-weight: normal; 
     line-height: 48px;
    font-size: 37px;
    text-align: center;
    */

  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(
      ellipse at bottom,
      rgb(18, 96, 148),
      transparent,
      transparent
    );
  -webkit-background-clip: text;
  background-clip: text;
  color: rgb(198, 240, 206);
  font-size: 4vw;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.line {
  color: rgb(198, 240, 206);
  margin-bottom: 5px;
  font-family: "Rouge Script", cursive;
  font-weight: normal;
  line-height: 4px;
  font-size: 37px;
  margin: 40px 0 50px;
  text-align: center;
  text-shadow: 6px 10px 10px #082b34;
  margin-left: 6%;
  margin-top: -4%;

  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(
      ellipse at bottom,
      rgb(18, 96, 148),
      transparent,
      transparent
    );
  -webkit-background-clip: text;
  background-clip: text;
  color: rgb(198, 240, 206);
  font-size: 4vw;
  /* font-family: "Source Sans Pro", sans-serif; */
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

.d {
  font-size: 0px;
}

.adjj {
  justify-content: center;
  margin-top: 20px;
}

.btnadj {
  margin-top: -32px;
  margin-left: 28%;
  color: red;
}

#btnss {
  margin-top: -5%;
  margin-left: -9px;
  cursor: pointer;
  color: rgb(88, 111, 238);
  text-decoration: underline;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#btnss:hover {
  color: green;
  cursor: pointer;
}

#aaa {
  /* color: rgb(88, 238, 88); */
  margin-left: 3px;
  margin-top: -16px;
  /* cursor: pointer;*/
  text-decoration: none;
  /* border: none; */
  padding: 0;
}

#aaa:hover {
  color: green;
  cursor: pointer;
}

.ooo {
  padding-top: 20px;
  justify-content: center;
  text-align: center;
  align-self: center;
  /* padding-bottom: 168px; */
}

.shownameadj {
  /* margin-top: -800%; */
  color: deepskyblue;
  /* min-width: 90%; */
  /* justify-content: left; */
  /* margin-top: 0px  !important; */
  padding-top: 10px;
  margin-bottom: -5px;
  margin-left: 10px;
  /* font-weight: bold; */
}
.postswrap {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  /* max-width:50%; 
   min-width: 50%;  */
  color: #282c34;
  justify-content: left;
  margin-bottom: -10px;
  /* min-height: 70px; */
  margin-left: 10px;
  margin-right: 10px;
  font-size: larger;
}

.table {
  margin-left: 6%;
  /* padding: 70%; */
  /* border-radius: 2px 2px 2px 2px; */
  text-align: justify;
  text-decoration-line: none;
}

#search {
  width: 480px;
  height: 49px;
  border: 3px solid black;
  padding: 1px 0 0 48px;
  font-size: 22px;
  color: blue;
  background-repeat: no-repeat;
  background-position: center;
  outline: 0;
}

#aaaa {
  /* margin-left: -14%; */
  font-weight: 500;
}
.sss {
  margin-left: -58%;
}

.jjj {
  align-self: center;
  background-color: skyblue !important;
  height: 40px !important;
  margin-top: 10px;
  z-index: 500 !important;
}

.bgrd {
  flex: 1;
  background-color: lightgrey;
  background-size: cover;
}

.searchadj {
  margin-left: 34.7%;
  margin-top: 0.1%;
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
  z-index: 100;
  border-radius: 5px 5px 5px 5px;
  width: 51.5%;
}
.like {
  justify-content: flex-start;
  float: left;
  margin-top: 130%;
  margin-left: -1085%;
}

.contentAlign {
  flex: 1;
  justify-content: center;
  /* align-items: center; */
  align-self: center;
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  text-align: center;
  z-index: 1;
  /* border: 2px sandybrown solid; */
  /* border-width: 10px; */

  /* background-color: rgba(250, 250, 250, 0.932);
  width: 700px;
  height: 620px; */
}

.formBackground {
  background-color: rgba(228, 228, 228, 0.92);
  width: 50%;
  height: 550px;
  /* margin-top: 20px !important; */
  margin: auto;
  margin-top: 30px !important;
  /* margin-bottom: 0px !important; */
  border-radius: 10px;
  position: relative;
  /* z-index: 100; */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 15px 20px 20px; */
  box-shadow: 0px 0px 250px #000;
  overflow: hidden;
}

.formAlign {
  justify-content: center !important;
  align-items: center !important;
  align-self: center !important;
  background-color: skyblue;
  width: 60%;
  /* z-index: 500 !important; */
  margin-left: 20% !important;
  /* line-height: 0px !important; */
  margin-top: -10px !important;
  /* margin-left: 35px !important; */
  /* margin-bottom: 30px !important; */
}

.formAlign1 {
  /* justify-content: center !important;
  align-items: center !important;
  align-self: center !important; */
  background-color: skyblue;
  min-width: 120%;
  z-index: 500 !important;
  /* margin-left: 40px !important; */
  /* margin-top: 30px !important; */
  /* margin-left: 35px !important; */
  /* margin-bottom: 30px !important; */
}

.text {
  color: white;
  font-weight: bold;
  width: 34%;
  /* margin-right: 25px; */
  padding-left: 5px;
}

.text1 {
  color: white;
  font-weight: bold;
  /* width: 15%; */
  /* margin-right: 25px; */
  /* margin-left: 10px; */
  padding: 15px;
  /* text-align: center; */
}

.input1 {
  /* width: 45%; */
  border-radius: 0rem !important;
  flex: 1;
}

.input {
  width: 35%;
  border-radius: 0rem !important;
  flex: 1;
}

.logout {
  background-color: skyblue !important;
  /* height: auto; */
  /* z-index: 10; */
  border-radius: 5px;
  /* margin-top: -2px; */
  /* margin-right: -5%; */
  width: auto;
}

.tr11 {
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px !important;
  box-shadow: 0px 39px 80px -9px #000;
  border-radius: 10px;
}

/* .edit {
  margin-left: 180px !important;
} */

@keyframes slidein {
  from {
    margin-right: 0%;
    width: 300%;
  }

  to {
    margin-right: 100%;
    width: 50%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
